body {
	font-family:arial;
	font-size: 10pt;
	color:black;
	background: no-repeat;
	background-color:OldLace;
	background-position: top right;
	background-size: 8%;
	background-image:url("../images/survival.png");
}

.enCours {
	float:left;
	width:40%;
	font-size: 30pt;
}

.pasEnCours {
	float:left;
	width:30%;
	font-size: 20pt;
}

.chrono {
	height:400px;
	float:left;
	width:30%;
	font-size: 20pt;
}

.joueur {
	float:left;
	width:50%;
	font-size: 30pt;
}

.divStandard {
	width:100%;
	clear:left;
}

footer {
	text-align: center;
	padding: 5px;
	background-color: DarkSalmon;
	color: white;
}

.debug {
	display: none;
}

.zoomA {
	width: 100;
	height: 130;
	/* ease | ease-in | ease-out | linear */
	transition: transform ease-in-out 0.3s;
}

.zoomA:hover {
	transform: scale(4);
}
