<!doctype html>
<html lang="fr">
	<head>
		<title>Scénarios Pandémie</title>
		<meta charset="utf-8">
		<link rel="icon" href="../images/survival.ico" />
		<link rel="stylesheet" href="../style/style.css">
		<script type="text/javascript" src = "../assets/config.js"></script>
		<script></script>
	</head>
	<body onload="run();">
		<header>
			Bienvenue à Scénario Pandemic, scénario aléatoire du type demi-finales du championnat du monde
		</header>
		<hr>
		Choisir deux personnages:<p>
		<form id="idBoxes" name="thisForm">
		<br>
        <input type="button" value="Start" onclick="get_roles(document.thisForm);"> 
		</form>	
		<footer>
			v0.4.0<br />
			Author : Potaw (CDM 2019 avec Yo)
		</footer>
	</body>
</html>
